@font-face {
  font-family: 'font-bold';
  src: url('./assets//chirp-2/ChirpBold.ttf') format('truetype');
}

@font-face {
  font-family: 'font-regular';
  src: url('./assets//chirp-2/ChirpRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'font-medium';
  src: url('./assets//chirp-2/ChirpMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'font-extend';
  src: url('./assets//chirp-2/ChirpExtendedHeavy.ttf') format('truetype');
}

* {
  margin: 0;
  ;
  padding: 0;
  box-sizing: border-box;
}

.root-container {
  box-sizing: border-box;
  position: relative;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 0;
  list-style: none;
  z-index: 0;
  position: relative;
  max-height: 100vh;

  .login-logo {
    display: flex;
    width: 50%;
    height: 380px;
    margin: auto;
    position: relative;
    max-height: 100%;

    .BsTwitterX {
      width: 400px !important;
      height: 400px !important;
      color: #ffffff !important;
    }

  }

  .login-content {
    position: relative;
    width: 50%;
    height: 100%;
    color: rgb(231, 233, 234);
    padding-top: 80px;

    .title-content {
      height: auto;
      font-size: 72px;
      font-weight: bold;
      font-family: 'font-extend', "Verdana", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      text-overflow: unset;
      flex-direction: column;
      display: flex;
      padding-bottom: 30px;
    }

    .title-content-down {

      font-size: 30px;
      font-weight: bold;
      font-family: 'font-extend', "Verdana", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      text-overflow: unset;
      flex-direction: column;
      display: flex;
      height: auto;
    }

    .login-menu {
      height: auto;
      width: 300px;

      .login-option-container {
        .option-list {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          .facebook-option{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size: 18px;
            color: rgb(48, 45, 45);
            font-weight: bolder;
          }
          .single-option {
            margin-top: 10px;
            height: 38px;
            background-color: #fafafa;
            width: 300px;
            border-radius: 20px;
            cursor: pointer;

          }

          .text-or {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size: 19px;
            position: relative;
            top: 10px;
            margin-bottom: 10px;

            &::before {
              content: '';
              position: absolute;
              width: 40%;
              height: 1px;
              /* Độ dày của đường gạch */
              top: 50%;
              background-color: #6d6d6d;
              /* Màu của đường gạch */
              left: 0;
            }

            &::after {
              content: '';
              position: absolute;
              width: 40%;
              height: 1px;
              /* Độ dày của đường gạch */
              top: 50%;
              background-color: #6d6d6d;
              /* Màu của đường gạch */
              right: 0;
            }
          }

          .register-option {
            background-color: rgb(26, 140, 216);
            color: white;
            font-size: 19px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgb(6, 112, 182);
            }

            span {

              width: auto;
              height: auto;
            }

          }

          .policy-register {
            padding: 5px;
            color: rgb(113, 118, 123);
            width: 300px;
            text-overflow: unset;
            font-size: 14px;
          }

          .policy-register a {
            color: rgb(29, 155, 240);
            text-decoration: none;
          }

          .policy-register a:hover {
            text-decoration: underline;
          }

          .login-option {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bolder;

            .login-option-content {
              margin-top: 20px;
              background-color: transparent;
              border: 1px solid #1d84c9;
              color: #6e94fdfd;
            }

            .login-option-content:hover {
              background-color: #02081bfd;
              cursor: pointer;
            }

          }

        }
      }

    }


  }

}

.modal-style {
  background-color: black;
  display: flex;

  .modal-title {
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    
    border-bottom: 1px solid rgb(212, 201, 201);

  }
  .modal-login{
    margin-top: 10px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 16px;
    .title-input-login{
      font-size: 18px;
      font-weight: bolder;
      margin: auto;
      width: inherit;
      justify-content: center;
      display: flex;
    }
    .login-input{
      display: flex;
      margin: auto;
      width: 90%;
      height: 45px;
      border-radius: 5px;
      padding: 5px;
      font-size: 18px;
      margin-top: 20px;
      border: 1px solid rgb(138, 122, 122);
      padding-left: 10px;
      outline: none;
    }
    .dob-input{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      font-size: 17px;
      align-items: center;
      .ant-space{
        width: 67%;
        .ant-picker{
          width: 100%;
        }
      }
    }
    button{
      width: 75%;
      justify-content: center;
      margin: auto;
      display: flex;
      margin-top: 19px;
      height: 40px;
      background-color: #f3f3ff;
      border: 1px solid blue;
      outline: none;
      font-size: 20px;
      align-items: center;
      font-weight: bolder;
      border-radius: 16px;
      cursor: pointer;
      &:hover{
        background-color:#dfdfff ;
      }
    }
    border-bottom: 1px solid #c3c3c3;
  }
  .modal-orther-login{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    line-height: 30px;
    flex-direction: column;
  }

}